body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.jhanker{
    color: gold;
}
.flaxible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 503%;
    padding-left: 5%;
}
.half-width image{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 40px ;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: orange;
}
.experience-item{
    padding-left: 5px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;

}
.size{
    font-size: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stuck-developer{
    border-left: 7px solid tomato;   
}
#baby-web-developer{
    border-left: 7px solid blue;
}
footer{
    text-align: center;
}